:root {
  --body-bgc: #e5e5e5; /* Колір фону тіла сайту*/
  --pri-text: #757575; /* Основний колір тексту */
  --pri-title: #212121; /* Основний колір заголовків */
  --pri-link: #212121; /* Основний колір посилань*/
  --pri-btn-text: #212121; /* Основний колір тексту кнопок */
  --sec-btn-text: #ffffff; /* Вторинний колір тексту кнопок */
  --btn-bgc: #f5f4fa; /* Основний колір фону кнопок */
  --pri-brand: #2196f3; /* Основний колір бренду (лого) */
  --accent: #2196f3; /* колір акценту (виділення посилань і кнопок)*/
  --sec-brand: #000000; /* вторинний колір бренду (лого шапка) */
  --ter-brand: #ffffff; /* Третинний колір бренду (лого футер) */
  --pri-section-bgc: #ffffff; /* Основний колір фону секцій*/
  --sec-section-bgc: #f5f4fa; /* Вторинний колір фону секцій */
  --ter-section-bgc: #2f303a; /* третинний колір фону секцій (шапка і футер) */
  --hero-text: #ffffff; /* Колір тексту героя */
  --footer-contacts: rgba(255, 255, 255, 0.6); /*колір контактів в підвалі */
  --ft-text: #ffffff; /* Колір тексту адреси у футері*/
}

/*ЗАГАЛЬНІ СТИЛІ*/
body {
  background-color: var(--body-bgc);
  color: var(--pri-text);
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714; /*24px*/
  font-style: normal;
}
.list-box {
  margin-bottom: 0px;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--sec-btn-text);
}
.footer .link:focus,
.footer .link:hover,
.upper-line .link:focus,
.upper-line .link:hover {
  color: var(--accent);
}

/*header*/
.upper-line .list {
  font-weight: 500;
}
.link.active {
  color: var(--accent);
}
.brand {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}
.brand-color-one {
  color: var(--pri-brand);
}
.upper-line .brand-color-two {
  color: var(--sec-brand);
}
.upper-line,
.main-content {
  background-color: var(--pri-section-bgc);
}
.nav-links .list {
  color: var(--pri-link);
}
.contacts .list {
  color: var(--pri-text);
}
.brand,
.contacts,
.nav-links,
.main-content .list,
.upper-line .list {
  display: inline-block;
}

/*Main*/
.btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  height: 38px;
  line-height: 1.625;
  background-color: var(--btn-bgc);
  border-style: none;
  border-radius: 4px;
}
.hero-title {
  margin-top: 0px;
}

/*footer*/
.footer .brand-color-two {
  color: var(--ter-brand);
}
.cap,
footer {
  background-color: var(--ter-section-bgc);
}
.footer-address {
  color: var(--ft-text);
  font-style: normal;
}
.footer .list {
  color: var(--footer-contacts);
  font-style: normal;
}

/*Стилі файлу index */
.cap .hero-title {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text);
}
.cap .btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent);
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--hero-text);
}

.our-works .title,
.our-team .title,
.profession {
  text-align: center;
}
.our-team {
  background-color: var(--sec-section-bgc);
}
.our-team .list {
  background-color: var(--pri-section-bgc);
}
.main-content .title {
  color: var(--pri-title);
}
.features .list {
  width: 270px;
}
.features .title {
  text-transform: uppercase;
  line-height: 1.143;
  font-size: inherit;
}
.our-team .title,
.our-team .profession {
  font-size: 16px;
  line-height: 1.188;
}
.our-works>.title,
.our-team>.title {
  font-size: 36px;
  line-height: 1.167;
}
/*Стилы файлу portfolio*/
.hero-title.hidden {
  color: var(--hero-text);
}
.portfolio .title {
  font-size: 18px;
  line-height: 2;
}
.portfolio .type {
  font-size: 16px;
  line-height: 1.875;
}
